html {
  box-sizing: border-box;
  max-width: 1000px;
  margin: 0 auto;
}
*, *::before, *::after {
  box-sizing: inherit;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  margin-bottom: 0;
}

.zone__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 20vw;
  border: solid black 1px;
}

.item {
  max-width: 100%;
  margin: 1em auto;
  list-style: none;
  transition: transform 0.2s ease-out;
  transform: scale(1);
  opacity: 1;
}

.item-move {
  transform: scale(0.7);
  transition: transform 0.2s ease-out;
  opacity: 0.25;
}

.button {
  &__reset {
    color: red;
  }
  &--limit {
    visibility: hidden;
  }

/*  &--limit::after {
   visibility: visible;
   content: "Sorry, you can't add anymore elements!";
   color: red;
  } */

}
